/*
 * 左侧的 markdown 看起来并不美观。
 *
 * 我们稍作修饰。
 */

#work-container {
  position: absolute;
  left: 0;
  top: 0;
  max-height: 100%;
}

/**
 * 下面就是见证奇迹的时刻：
 *
 * 3。
 * 2。
 * 1。
 *
 * 。
 * 骗你啦，啥也没有~
 *
 * 好吧，其实是有的，来了。
 */
